<section class="section">
  <h1>
    User Information
    <div class="right"><span>Edit</span><i class="fa fa-pencil-square-o"></i></div>
  </h1>
  <div class="section-content">
    <div>
      <div class="section-content">
        <div id="user-information">
          <div id="profile-pic-and-buttons">
            <img src="./app/assets/images/mockups/users/ava10.jpg"/>
            <div class="image-toolbar">
              <i class="fa fa-repeat"></i>
              <i class="fa fa-plus"></i>
              <i class="fa fa-times"></i>
            </div>
            <div class="buttons">
              <button>Add to Friends</button>
              <button>Send Message</button>
              <button>Photoalbums</button>
              <button>Add to Favorites</button>
              <button>Block</button>
            </div>
          </div>
          <div id="profile-cover-and-accordeon">
            <div id="profile-cover" style="background:url('./app/assets/images/mockups/covers/cover1_mod.jpg');">
              <div class="image-toolbar">
                <i class="fa fa-plus"></i>
                <i class="fa fa-times"></i>
              </div>
              <div id="status-text">
                <div>Lorem ipsum dolot sit amet lorem ipsum dolor sit amet, lorem ipsum dolor ...</div>
                <div id="status-date">29 minutes ago</div>
              </div>
            </div>
            <div id="user-info-accordeon" class="accordeon">
              <section>
                <h1>
                  Main Information
                  <div class="buttons right">
                    <i class="fa fa-arrow-down hide-for-w320"></i>
                  </div>
                </h1>
                <div class="accordeon-panel" style="display:block;">
                  <div class="info-line">
                    <div class="info-title">Phone operator: </div>
                    <div class="info-data">EMT</div>
                  </div>
                  <div class="info-line last">
                    <div class="info-title">Date of Birth: </div>
                    <div class="info-data">27.05.1989</div>
                  </div>
                  <div class="info-line second">
                    <div class="info-title">High Education: </div>
                  </div>
                  <div class="info-line third second underlined">
                    <div class="info-title">Degree: </div>
                  </div>
                  <div class="info-line third">
                    <div class="info-title">University: </div>
                    <div class="info-data">Tallinn University Of Technology</div>
                  </div>
                  <div class="info-line third">
                    <div class="info-title">Faculty: </div>
                    <div class="info-data">Information Technologies</div>
                  </div>
                  <div class="info-line third">
                    <div class="info-title">Specialty: </div>
                    <div class="info-data">Software Developer</div>
                  </div>
                  <div class="info-line third last">
                    <div class="info-title">Degree: </div>
                    <div class="info-data">Bachelor</div>
                  </div>
                  <div class="info-line second">
                    <div class="info-title">Career: </div>
                  </div>
                  <div class="info-line third second underlined">
                    <div class="info-title">Workplace: </div>
                  </div>
                  <div class="info-line third undelined">
                    <div class="info-title">Company: </div>
                    <div class="info-data">FastVPS Eesti OU</div>
                  </div>
                  <div class="info-line third undelined">
                    <div class="info-title">Position: </div>
                    <div class="info-data">Software Developer</div>
                  </div>
                </div>
              </section>
              <section>
                <h1>
                  Additional Information
                  <div class="buttons right">
                    <i class="fa fa-arrow-down hide-for-w320"></i>
                  </div>
                </h1>
                <div class="accordeon-panel">
                  <div class="info-line third">
                    <div class="info-title">Email: </div>
                    <div class="info-data">ajakupsopn@gmail.com</div>
                  </div>
                  <div class="info-line third">
                    <div class="info-title">Country: </div>
                    <div class="info-data">Estonia</div>
                  </div>
                  <div class="info-line third">
                    <div class="info-title">City: </div>
                    <div class="info-data">Johvi</div>
                  </div>
                  <div class="info-line third">
                    <div class="info-title">Street: </div>
                    <div class="info-data">Kaare 1-29</div>
                  </div>
                  <div class="info-line third">
                    <div class="info-title">Website: </div>
                    <div class="info-data">http://www.airsim.com</div>
                  </div>
                </div>
              </section>
              <section>
                <h1>
                  Hobbies
                  <div class="buttons right">
                    <i class="fa fa-arrow-down hide-for-w320"></i>
                  </div>
                </h1>
              </section>
            </div>
          </div>
          <div id="user-location-map">
            <div id="map-itself" style="background:url('./app/assets/images/mockups/default_paris.png');"></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</section>
