<div class="router-outlet-content">
  <h1>Chats</h1>
  <section class="section" id="chat-rooms-section">
    <div class="section-content" id="chat-rooms">
      <div class="chat">
        <div class="chat-toolbar">
          <i class="fa fa-pencil-square-o"></i>
          <i class="fa fa-times-circle"></i>
        </div>
        <div class="chat-image-container">
          <a href="#">
            <img src="./app/assets/images/mockups/albums/Other/4.jpg"/>
          </a>
          <span class="unread-messages-bubble">+4</span>
        </div>
        <div class="chat-text">
          <h2><a href="#">Stuff</a></h2>
          <h3>Alexander Anisimov, Petr Sidorov, Ekaterina Smirnova</h3>
          <span class="last-message">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam
          </span>
          <span class="last-message-date-time">10.06.2015 14:28</span>
        </div>
      </div>
      <div class="chat">
        <div class="chat-toolbar">
          <i class="fa fa-pencil-square-o"></i>
          <i class="fa fa-times-circle"></i>
        </div>
        <div class="chat-image-container">
          <a href="#">
            <img src="./app/assets/images/mockups/albums/Other/5.jpg"/>
          </a>
          <span class="unread-messages-bubble">+11</span>
        </div>
        <div class="chat-text">
          <h2><a href="#">Lorem ipsum</a></h2>
          <h3>Alexander Anisimov, Petr Sidorov</h3>
          <span class="last-message">
            Sed ut perspiciatis unde omnis iste natus error
          </span>
          <span class="last-message-date-dime">10.06.2015 14:28</span>
        </div>
      </div>
      <div class="chat">
        <div class="chat-toolbar">
          <i class="fa fa-pencil-square-o"></i>
          <i class="fa fa-times-circle"></i>
        </div>
        <div class="chat-image-container">
          <a href="#">
            <img src="./app/assets/images/mockups/albums/Other/6.jpg"/>
          </a>
        </div>
        <div class="chat-text">
          <h2><a href="#">Pain</a></h2>
          <h3>Alexander Anisimov, Ekaterina Smirnova</h3>
          <span class="last-message">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam
          </span>
          <span class="last-message-date-time">10.06.2015 14:28</span>
        </div>
      </div>
      <div class="chat">
        <div class="chat-toolbar">
          <i class="fa fa-pencil-square-o"></i>
          <i class="fa fa-times-circle"></i>
        </div>
        <div class="chat-image-container">
          <a href="#">
            <img src="./app/assets/images/mockups/albums/Other/13.jpg"/>
          </a>
          <span class="unread-messages-bubble">+5</span>
        </div>
        <div class="chat-text">
          <h2><a href="#">Metal</a></h2>
          <h3>Alexander Anisimov, Ekaterina Smirnova, Kirill Marchenko</h3>
          <span class="last-message">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam
          </span>
          <span class="last-message-date-time">10.06.2015 14:28</span>
        </div>
      </div>
      <div class="chat">
        <div class="chat-toolbar">
          <i class="fa fa-pencil-square-o"></i>
          <i class="fa fa-times-circle"></i>
        </div>
        <div class="chat-image-container">
          <a href="#">
            <img src="./app/assets/images/mockups/albums/Other/11.jpg"/>
          </a>
        </div>
        <div class="chat-text">
          <h2><a href="#">Meaning of Life</a></h2>
          <h3>Alexander Anisimov, Evgeny Popov</h3>
          <span class="last-message">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam
          </span>
          <span class="last-message-date-time">10.06.2015 14:28</span>
        </div>
      </div>
      <div class="chat">
        <div class="chat-toolbar">
          <i class="fa fa-pencil-square-o"></i>
          <i class="fa fa-times-circle"></i>
        </div>
        <div class="chat-image-container">
          <a href="#">
            <img src="./app/assets/images/mockups/albums/Other/9.jpg"/>
          </a>
        </div>
        <div class="chat-text">
          <h2><a href="#">Videogames</a></h2>
          <h3>Alexander Anisimov, Evgeny Popov, Ekaterina Smirnova, Kirill Marchenko</h3>
          <span class="last-message">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam
          </span>
          <span class="last-message-date-time">10.06.2015 14:28</span>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </section>
</div>
