<div id="tab-private" class="tab">
  <div class="tab-content">
    <div class="settings">
      <div class="field-line">
        <label for="phone-num-visibility">Phone number is visible to:</label>
        <select id="phone-num-visibility">
          <option>all</option>
          <option>friends only</option>
        </select>
      </div>
      <div class="field-line">
        <label for="add-info-visibility">Addtional info is visible to:</label>
        <select id="add-info-visibility">
          <option>all</option>
          <option>friends only</option>
        </select>
      </div>
      <div class="field-line">
        <label for="friends-visibility">Friends are visible to:</label>
        <select id="friends-visibility">
          <option>all</option>
          <option>friends only</option>
        </select>
      </div>
      <div class="field-line">
        <label for="is-search-by-phone-on">Allow search me by phone number:</label>
        <select id="is-search-by-phone-on">
          <option>yes</option>
          <option>no</option>
        </select>
      </div>
      <div class="field-line">
        <label for="sending-messages">Sending messages is allowed to:</label>
        <select id="sending-messages">
          <option>all</option>
          <option>friends only</option>
          <option>nobody</option>
        </select>
      </div>
    </div>
    <div class="settings-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit
      esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in 
      culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
</div>
