<section class="section diary-section">
  <h1>Diary</h1>
  <div class="diary-add-record-form">
    <textarea placeholder="Any news?"></textarea><br/>
    <button type="button" class="right">Send</button>
    <button type="button" class="right icon-btn toggle-menu">
      <i class="fa fa-paperclip"></i>
      <ul>
        <!-- <li><i class="fa fa-file-image-o"></i>Picture</li>
        <li><i class="fa fa-file"></i>Document</li>
        <li><i class="fa fa-file-audio-o"></i>Audio</li>
        <li><i class="fa fa-file-video-o"></i>Video</li> -->
      </ul>
    </button>
  </div>
  <div class="clear"></div>
  <div class="section-content">
    <article class="diary-record">
      <div class="diary-record-toolbar">
        <i class="fa fa-pencil-square-o"></i>
        <i class="fa fa-times"></i>
      </div>
      <div class="diary-record-content">
        <h1>
          <div class="diary-record-author-img-container">
            <img src="./app/assets/images/mockups/users/ava8.jpg"/>
          </div>
          <div class="diary-record-author-name">Alexander Anisimov</div>
        </h1>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        <ul class="diary-record-images">
          <li><img src="./app/assets/images/mockups/albums/Other/2.jpg"/><i class="fa fa-times"></i></li>
          <li><img src="./app/assets/images/mockups/albums/Other/10.jpg"/><i class="fa fa-times"></i></li>
          <li><img src="./app/assets/images/mockups/albums/Other/14.jpg"/><i class="fa fa-times"></i></li>
          <li><img src="./app/assets/images/mockups/albums/Other/15.jpg"/><i class="fa fa-times"></i></li>
          <li><img src="./app/assets/images/mockups/albums/Other/17.jpg"/><i class="fa fa-times"></i></li>
          <li><img src="./app/assets/images/mockups/albums/Other/18.jpg"/><i class="fa fa-times"></i></li>
          <li><img src="./app/assets/images/mockups/albums/Other/19.jpg"/><i class="fa fa-times"></i></li>
          <li><img src="./app/assets/images/mockups/albums/Other/20.jpg"/><i class="fa fa-times"></i></li>
          <li><img src="./app/assets/images/mockups/albums/Other/21.jpg"/><i class="fa fa-times"></i></li>
          <li><img src="./app/assets/images/mockups/albums/Other/22.jpg"/><i class="fa fa-times"></i></li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="section-footer">
        <div class="footer-buttons">
          <div class="likes-dislikes-wrapper">
            <span class="likes">
              <span class="count">+56</span>
              <i class="fa fa-thumbs-o-up"></i>
            </span>
            <span class="dislikes">
              <span class="count">-159</span>
              <i class="fa fa-thumbs-o-down"></i>
            </span>
          </div>
          <button>Reply</button>
        </div>
        <div class="clear"></div>
      </div>
      <div class="diary-record-replies">
      </div>
      <div class="clear"></div>
    </article>
    <article class="diary-record">
      <div class="diary-record-toolbar">
        <i class="fa fa-pencil-square-o"></i>
        <i class="fa fa-times"></i>
      </div>
      <div class="diary-record-content">
        <h1>
          <div class="diary-record-author-img-container">
            <img src="./app/assets/images/mockups/users/ava8.jpg"/>
          </div>
          <div class="diary-record-author-name">Alexander Anisimov</div>
        </h1>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
      </div>
      <div class="section-footer">
        <div class="footer-buttons">
          <div class="likes-dislikes-wrapper">
            <span class="likes">
              <span class="count">+56</span>
              <i class="fa fa-thumbs-o-up"></i>
            </span>
            <span class="dislikes">
              <span class="count">-159</span>
              <i class="fa fa-thumbs-o-down"></i>
            </span>
          </div>
          <button>Reply</button>
        </div>
        <div class="clear"></div>
      </div>
    </article>
  </div>
</section>
