<div id="menu-toggle">
  <div class="btn-wrap">
    <i class="fa fa-bars"></i>
  </div>
  <span class="text">MENU</span>
</div>

<nav id="main-nav">
  <div class="section-heading">Main Navigation</div>
  <ul>
    <li class="active"><a [routerLink]="['./homepage']"><i class="fa fa-home"></i>Homepage</a></li>
    <li><a [routerLink]="['/contacts']"><i class="fa fa-users"></i>Friends<span class="bubble">+4</span></a></li>
    <li><a [routerLink]="['/messages']"><i class="fa fa-envelope"></i>Messages<span class="bubble">+20</span></a></li>
    <li><a href="#"><i class="fa fa-camera"></i>Photos</a></li>
    <li><a href="#"><i class="fa fa-street-view"></i>Map</a></li>
    <li><a href="#"><i class="fa fa-newspaper-o"></i>News</a></li>
    <li><a [routerLink]="['/options']"><i class="fa fa-cog"></i>Options</a></li>
    <li><a href="#"><i class="fa fa-cogs"></i>Advanced</a></li>
    <li><a href="#"><i class="fa fa-cloud-download"></i>Safe</a></li>
    <li><a href="#"><i class="fa fa-heart"></i>Favorites</a></li>
  </ul>
</nav>
