<div class="user-header-panel">
  <div class="buttons">
    <div class="btn">
      <i class="fa fa-comment"></i>
      <span class="bubble">+20</span>
    </div>
    <div class="btn">
      <i class="fa fa-male"></i>
      <span class="bubble">+4</span>
    </div>
    <div class="btn"><i class="fa fa-bell"></i></div>
  </div>
  <div class="logged-in-as menu-toggle">
    <img src="./app/assets/images/mockups/users/ava10.jpg"/>
    <span class="text">You are logged in as<br/><strong>Dominic Santiago</strong></span>
  </div>
</div>
