<div id="tab-friends" class="tab">
  <div class="tab-content">
    <div class="tab-top-ctrls-wrapper">
      <input type="text" class="input-with-btn search-input" placeholder="Name or Family of Person to find ..."/>
      <button class="btn-for-input search-btn">Search</button>
    </div>
    <div  class="contacts-block">
      <div class="contact">
        <div class="contact-section name-phone">
          <span class="line">
            <span>Alexander Anisimov</span>
            <span class="status-online">Online</span>
          </span>
          <span class="line phone no-b-border">+372 57194672</span>
        </div>
        <div class="contact-section with-pic">
          <img src="./app/assets/images/mockups/users/ava8.jpg"/>
        </div>
        <div class="contact-section">
          <button>Write Message</button>
          <button>Make Note</button>
          <button>Show Changes</button>
          <button>Remove</button>
        </div>
      </div>
      <div class="contact">
        <div class="contact-section name-phone">
          <span class="line">
            <span>Evgeny Fedorov</span>
            <span class="status-online">Online</span>
          </span>
          <span class="line phone no-b-border">+372 53214123</span>
        </div>
        <div class="contact-section with-pic">
          <img src="./app/assets/images/mockups/users/ava1.jpg"/>
        </div>
        <div class="contact-section">
          <button>Write Message</button>
          <button>Make Note</button>
          <button>Show Changes</button>
          <button>Remove</button>
        </div>
      </div>
      <div class="contact">
        <div class="contact-section name-phone">
          <span class="line">
            <span>Ekaterina Kuzmina</span>
            <span class="status-offline">Offline</span>
          </span>
          <span class="line phone no-b-border">+372 58901055</span>
        </div>
        <div class="contact-section with-pic">
          <img src="./app/assets/images/mockups/users/ava2.jpg"/>
        </div>
        <div class="contact-section">
          <button>Write Message</button>
          <button>Make Note</button>
          <button>Show Changes</button>
          <button>Remove</button>
        </div>
      </div>
      <div class="contact">
        <div class="contact-section name-phone">
          <span class="line">
            <span>Alexander Marchenko</span>
            <span class="status-offline">Offline</span>
          </span>
          <span class="line phone no-b-border">+372 58278400</span>
        </div>
        <div class="contact-section with-pic">
          <img src="./app/assets/images/mockups/users/ava3.jpg"/>
        </div>
        <div class="contact-section">
          <button>Write Message</button>
          <button>Make Note</button>
          <button>Show Changes</button>
          <button>Remove</button>
        </div>
      </div>
      <div class="contact">
        <div class="contact-section name-phone">
          <span class="line">
            <span>Anastassia Sledkova</span>
            <span class="status-online">Online</span>
          </span>
          <span class="line phone no-b-border">+372 539051987</span>
        </div>
        <div class="contact-section with-pic">
          <img src="./app/assets/images/mockups/users/ava4.jpg"/>
        </div>
        <div class="contact-section">
          <button>Write Message</button>
          <button>Make Note</button>
          <button>Show Changes</button>
          <button>Remove</button>
        </div>
      </div>
    </div>
    <div  class="contacts-block">
      <div class="contact">
        <div class="contact-section name-phone">
          <span class="line">
            <span>Alexander Anisimov</span>
            <span class="status-online">Online</span>
          </span>
          <span class="line phone no-b-border">+372 57194672</span>
        </div>
        <div class="contact-section with-pic">
          <img src="./app/assets/images/mockups/users/ava8.jpg"/>
        </div>
        <div class="contact-section">
          <button>Write Message</button>
          <button>Make Note</button>
          <button>Show Changes</button>
          <button>Remove</button>
        </div>
      </div>
      <div class="contact">
        <div class="contact-section name-phone">
          <span class="line">
            <span>Evgeny Fedorov</span>
            <span class="status-online">Online</span>
          </span>
          <span class="line phone no-b-border">+372 53214123</span>
        </div>
        <div class="contact-section with-pic">
          <img src="./app/assets/images/mockups/users/ava1.jpg"/>
        </div>
        <div class="contact-section">
          <button>Write Message</button>
          <button>Make Note</button>
          <button>Show Changes</button>
          <button>Remove</button>
        </div>
      </div>
      <div class="contact">
        <div class="contact-section name-phone">
          <span class="line">
            <span>Ekaterina Kuzmina</span>
            <span class="status-offline">Offline</span>
          </span>
          <span class="line phone no-b-border">+372 58901055</span>
        </div>
        <div class="contact-section with-pic">
          <img src="./app/assets/images/mockups/users/ava2.jpg"/>
        </div>
        <div class="contact-section">
          <button>Write Message</button>
          <button>Make Note</button>
          <button>Show Changes</button>
          <button>Remove</button>
        </div>
      </div>
      <div class="contact">
        <div class="contact-section name-phone">
          <span class="line">
            <span>Alexander Marchenko</span>
            <span class="status-offline">Offline</span>
          </span>
          <span class="line phone no-b-border">+372 58278400</span>
        </div>
        <div class="contact-section with-pic">
          <img src="./app/assets/images/mockups/users/ava3.jpg"/>
        </div>
        <div class="contact-section">
          <button>Write Message</button>
          <button>Make Note</button>
          <button>Show Changes</button>
          <button>Remove</button>
        </div>
      </div>
      <div class="contact">
        <div class="contact-section name-phone">
          <span class="line">
            <span>Anastassia Sledkova</span>
            <span class="status-online">Online</span>
          </span>
          <span class="line phone no-b-border">+372 539051987</span>
        </div>
        <div class="contact-section with-pic">
          <img src="./app/assets/images/mockups/users/ava4.jpg"/>
        </div>
        <div class="contact-section">
          <button>Write Message</button>
          <button>Make Note</button>
          <button>Show Changes</button>
          <button>Remove</button>
        </div>
      </div>
    </div>
    <div class="form-block">
      <div class="field-line">
        <label>Gender:</label>
        <div class="w50p">
          <input id="male" type="radio" name="gender" checked hidden />
          <label for="male">male</label>
          <input id="female" type="radio" name="gender" checked hidden />
          <label for="female">female</label>
        </div>
      </div>
      <div class="field-line">
        <label for="f-phone-number">Phone number:</label>
        <input type="text" id="f-phone-number"/>
      </div>
      <div class="field-line">
        <label for="f-country">Country:</label>
        <select id="f-country">
          <option val="en">England</option>
          <option val="est">Estonia</option>
          <option val="ru">Russia</option>
        </select>
      </div>
      <div class="field-line">
        <label for="f-city">City:</label>
        <select id="f-city">
          <option val="london">London</option>
          <option val="moscow">Moscow</option>
          <option val="tallinn">Tallinn</option>
        </select>
      </div>
      <div class="field-line">
        <label for="f-age-from">Age:</label>
        <div class="w50p">
          <input type="text" class="short-input" id="f-age-from"/>
          <span class="short-span">To</span>
          <input type="text" class="short-input" id="f-age-to"/>
        </div>
      </div>
    </div>
  </div>
</div>
