<section id="user-last-pictures" class="section">
  <h1>
    Photos (<span class="pictures-count">235</span>)
    <div class="right"><i class="fa fa-search"></i></div>
  </h1>
  <div>
    <ul>
      <li>
        <div class="pic-holder">
          <img src="./app/assets/images/mockups/albums/Other/1.jpg">
        </div>
      </li>
      <li>
        <div class="pic-holder">
          <img src="./app/assets/images/mockups/albums/Other/2.jpg">
        </div>
      </li>
      <li>
        <div class="pic-holder">
          <img src="./app/assets/images/mockups/albums/Other/3.jpg">
        </div>
      </li>
      <li>
        <div class="pic-holder">
          <img src="./app/assets/images/mockups/albums/Other/4.jpg">
        </div>
      </li>
      <li>
        <div class="pic-holder">
          <img src="./app/assets/images/mockups/albums/Other/5.jpg">
        </div>
      </li>
    </ul>
  </div>
</section>
