<section id="user-contacts" class="section">
  <h1>
    Contacts (<span class="online-count">11</span> online)
    <div class="right"><i class="fa fa-search"></i></div>
  </h1>
  <div class="user-contacts">
    <ul>
      <li>
        <div class="pic-holder">
          <img src="./app/assets/images/mockups/users/ava1.jpg">
        </div>
        <span class="status online"><i class="fa fa-check"></i></span>
        <div class="contact-name">Name Family</div>
      </li>
      <li>
        <div class="pic-holder">
          <img src="./app/assets/images/mockups/users/ava2.jpg">
        </div>
        <span class="status online"><i class="fa fa-check"></i></span>
        <div class="contact-name">Name Family</div>
      </li>
      <li>
        <div class="pic-holder">
          <img src="./app/assets/images/mockups/users/ava3.jpg">
        </div>
        <span class="status online"><i class="fa fa-check"></i></span>
        <div class="contact-name">Name Family</div>
      </li>
      <li>
        <div class="pic-holder">
          <img src="./app/assets/images/mockups/users/ava4.jpg">
        </div>
        <span class="status online"><i class="fa fa-check"></i></span>
        <div class="contact-name">Name Family</div>
      </li>
      <li>
        <div class="pic-holder">
          <img src="./app/assets/images/mockups/users/ava5.jpg">
        </div>
        <span class="status online"><i class="fa fa-check"></i></span>
        <div class="contact-name">Name Family</div>
      </li>
      <li>
        <div class="pic-holder">
          <img src="./app/assets/images/mockups/users/ava6.jpg">
        </div>
        <span class="status online"><i class="fa fa-check"></i></span>
        <div class="contact-name">Name Family</div>
      </li>
      <li>
        <div class="pic-holder">
          <img src="./app/assets/images/mockups/users/ava7.jpg">
        </div>
        <span class="status online"><i class="fa fa-check"></i></span>
        <div class="contact-name">Name Family</div>
      </li>
      <li>
        <div class="pic-holder">
          <img src="./app/assets/images/mockups/users/ava8.jpg">
        </div>
        <span class="status online"><i class="fa fa-check"></i></span>
        <div class="contact-name">Name Family</div>
      </li>
      <li>
        <div class="pic-holder">
          <img src="./app/assets/images/mockups/users/ava9.jpg">
        </div>
        <span class="status online"><i class="fa fa-check"></i></span>
        <div class="contact-name">Name Family</div>
      </li>
      <li>
        <div class="pic-holder">
          <img src="./app/assets/images/mockups/users/ava10.jpg">
        </div>
        <span class="status online"><i class="fa fa-check"></i></span>
        <div class="contact-name">Name Family</div>
      </li>
      <li>
        <div class="pic-holder">
          <img src="./app/assets/images/mockups/users/ava11.jpg">
        </div>
        <span class="status online"><i class="fa fa-check"></i></span>
        <div class="contact-name">Name Family</div>
      </li>
    </ul>
  </div>
</section>
